.Blog {
  flex: 1;
  width: 100%;
}
.Blog-wrapper {
  background-color: ghostwhite;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.titulo {
  text-align: center;
}

.intro {
  max-width: 80%;
  margin: 0 auto 2rem;
}

.ListaDeArtigos {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.ArtigoIndividual img {
  height: 100px;
}
.ArtigoIndividual:not(.artigo--favorito) img {
  margin-right: 0.5em;
}

.ArtigoIndividual {
  padding: 1em;
  background-color: white;
  border: 1px solid rgba(51, 51, 51, 0.25);
  width: 32em;
  max-width: 100%;
  margin: 0 auto 1em;
  /*all good up to here*/
  display: flex;
  align-items: center;
}

.ArtigoIndividual:hover {
  background-color: whitesmoke;
  box-shadow: 0 3px 6px 0 rgba(129, 127, 127, 0.5);
}

/*.ArtigoIndividual:not(.artigo--favorito):hover {*/
/*  border: 1px solid rgba(51, 51, 51, 0.25);*/
/*}*/
.ArtigoIndividual h3 {
  /*margin: 0;*/
  line-height: 1.8em;
  word-break: break-word;
  overflow: hidden;
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis;*/
  display: -webkit-box;
  /*display: block;*/
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /*max-width: 100%;*/
}
.ArtigoIndividual:not(.artigo--favorito) h3 {
  font-size: 1em;
  /*text-emphasis: sesame dodgerblue;*/
}
.ArtigoIndividual.artigo--favorito {
  flex-direction: column;
  border-color: black;
}
.artigo--favorito .artigo--rodape span {
  font-weight: 500;
}
.artigo--cabecalho {
  font-size: 0.8em;
}
.artigo--rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.artigo--categoria {
  font-size: 0.8em;
}

.artigo--link-fingindo-ser-bloco {
  text-decoration: none;
  width: 100%;
  min-width: 0;
  color: inherit;
}

.artigo--span-fingindo-ser-link {
  font-style: italic;
  color: dodgerblue;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .ArtigoIndividual:not(.artigo--favorito) img {
    display: none;
  }
}
