.Blog {
  flex: 1;
  width: 100%;
  /*background-color: rgba(255, 215, 0, 0.05);*/
}
.Blog-wrapper {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.titulo {
  text-align: center;
}

.intro {
  max-width: 80%;
  margin: 0 auto 2rem;
}

.ListaDeArtigos {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ArtigoIndividual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin-bottom: 1em;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(129, 127, 127, 0.5);
  border: 1px solid transparent;
  /*border: 1px solid rgba(51, 51, 51, 0.5);*/
}

.ArtigoIndividual:hover {
  background-color: rgba(255, 215, 0, 0.5);
  border: 1px solid rgba(51, 51, 51, 0.25);
  box-shadow: 0 3px 6px 0 rgba(129, 127, 127, 0.5);
}
.ArtigoIndividual:not(.artigo--favorito) h3 {
  font-size: 1em;
  text-align: center;
  font-style: italic;
  /*text-emphasis: sesame dodgerblue;*/
}
.artigo--favorito h3 {
  color: dodgerblue;
  font-weight: 500;
  /*background-color: gold;*/
  padding: 1em;
  /*color: rgba(51, 51, 51, 0.85);*/
  border-bottom: 1px dashed rgba(51, 51, 51, 0.75);
}
.artigo--cabecalho {
  position: relative;
  width: 100%;
}
.artigo--cabecalho > span {
  font-size: 0.8em;
  position: absolute;
  top: -0.5em;
  right: 0;
}
.artigo--rodape {
  position: relative;
  width: 100%;
}
.artigo--rodape > span {
  font-size: 0.8em;
  position: absolute;
  /*bottom: -0.5em;*/
  right: 0;
}
.artigo--favorito img {
  /*  something */
}

.artigo--link-fingindo-ser-bloco {
  flex: 1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: inherit;
}

.artigo--span-fingindo-ser-link {
  color: rgba(51, 51, 51, 0.65);
  font-weight: 500;
}
.ArtigoIndividual:not(.artigo--favorito) .artigo--span-fingindo-ser-link {
  color: dodgerblue;
  font-weight: 500;
}
