.LinksNavegacao a {
  display: inline-block;
  font-weight: bold;
  padding: 0.2em 0.8em;
  color: rgba(220, 20, 60, 0.6);
  text-transform: uppercase;
  text-decoration: none;
  margin: 4px;
  border-bottom: 2px solid transparent;
}

.LinksNavegacao a:hover,
.LinksNavegacao a:active,
.LinksNavegacao a:focus,
.LinksNavegacao a::selection {
  color: crimson;
  border-bottom: 2px solid #333;
}
