.LinksNavegacao {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}

.LinksNavegacao .pagina-atual {
  font-weight: 500;
  border-bottom: 1px solid #333;
}

.LinksNavegacao a {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.2em 0.8em;
  color: #555;
  /*text-transform: uppercase;*/
  text-decoration: none;
  margin: 4px;
  border-bottom: 2px solid transparent;
}

.LinksNavegacao a:hover,
.LinksNavegacao a:active,
.LinksNavegacao a:focus,
.LinksNavegacao a::selection {
  color: #333;
  border-bottom: 1px solid #333;
}
